<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoma.mall.dao.GoodDao">
<!--    对于left join，不管on后面跟什么条件，左表的数据全部查出来，因此要想过滤需把条件放到where后面-->
    <select id="getList" resultType="org.json.JSONObject">
        SELECT
        g.id,
        g.NAME,
        g.remark,
        g.image,
        g.price,
        w.amount
        FROM
        good g
        LEFT JOIN warehouse w on g.id = w.good_id
    </select>
    <insert id="add">
        insert into good (
        <trim suffixOverrides=",">
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(name)">
                name,
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(remark)">
                remark,
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(price)">
                price,
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(image)">
                image,
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(nameType)">
                name_type,
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(createTime)">
                create_time,
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(status)">
                status,
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(createUser)">
                create_user
            </if>
        </trim>
        )
        values(
        <trim suffixOverrides=",">
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(name)">
                #{name},
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(remark)">
                #{remark},
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(price)">
                #{price},
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(image)">
                #{image},
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(nameType)">
                #{nameType},
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(createTime)">
                #{createTime},
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(status)">
                #{status},
            </if>
            <if test="!@com.xiaoma.mall.utils.DaoParamsUtil@isBlank(createUser)">
                #{createUser}
            </if>
        </trim>
        )
    </insert>
    <!--
     <trim suffixOverrides=","> 表示当拼接的时候结尾符号为逗号时将自动帮我去除，感叹号取反的意思。
     -->
</mapper>


